/*
 * ⚠️ FONT LICENSING REQUIRED BEFORE GOING LIVE (stardust:deploy #80)
 * The SpareBank1 web fonts (SpareBank1-Regular-Web / -Medium-Web / -Title-Medium-Web) are the bank's own proprietary
 * faces, self-hosted here for fidelity on the SpareBank 1 redesign pilot (customer-owned brand assets on a customer
 * property). Confirm the webfont/embedding licence with SpareBank 1 before publishing to a production host; the remove
 * path is documented in fonts/LICENSING.md (delete the woff2 + these rules → the stacks fall back to the metric-matched
 * system faces declared in styles.css). Loaded by loadFonts() after first paint — never from head.html.
 */
@font-face {
  font-family: "SpareBank1-title-medium";
  src: url("../fonts/SpareBank1-Title-Medium-Web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpareBank1-medium";
  src: url("../fonts/SpareBank1-Medium-Web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpareBank1-regular";
  src: url("../fonts/SpareBank1-Regular-Web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
